*{
    background-color: brown;
}

.title{
    text-align: left;
    font-family: arial;
    color: #ffff;
}

.coffee{
    text-align: left;
    font-family: arial;
    color: darkgreen;
}

.paragraph{
    text-align: left;
    font-family: arial;
}
