<header>
    <ul>
        <li><a class="<%= typeof currentPage !== 'undefined' && currentPage === 'home' ? 'active' : '' %>" href="/">Home</a></li>
        <li><a class="<%= typeof currentPage !== 'undefined' && currentPage === 'operacoes' ? 'active' : '' %>" href="/operacoes">Operações</a></li>
        <li><a class="<%= typeof currentPage !== 'undefined' && currentPage === 'sobre' ? 'active' : '' %>" href="/sobre">Sobre</a></li>
    </ul>
</header>