<% titulo = 'Nova Operaçõe'%>

<form action="/operacoes" method="post">
    <div>
        <span>Data</span>
        <input type="date" name="data" id="data">
    </div>
    <div>
        <span>Código</span>
        <input type="text" name="codigo" id="codigo">
    </div>
    <div>
        <span>Ação:</span>
        <label for="compra">Compra</label>
        <input type="radio" name="acao" id="compra" value="compra">
        <label for="venda">Venda</label>
        <input type="radio" name="acao" id="venda" value="venda">
    </div>
    <div>
        <span>Preço Bruto</span>
        <input type="number" name="precoBruto" id="precoBruto" step="0.01">
    </div>
    <div>
        <span>Quantidade</span>
        <input type="number" name="quantidade" id="quantidade">
    </div>
    <input type="submit" placeholder="Enviar"/>
</form>