<div class="home-page text-center mt-5">
  <h1 class="mb-4">Bem-vindo ao Jogo de Perguntas</h1>
  <div class="row">
    <div class="col-md-8"></div>
    <div class="col-md-4">
      <form action="/jogo" method="get">
        <button class="btn btn-primary">Jogar</button>
      </form>
    </div>
  </div>
</div>