<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>
</head>
<body>
    <h1>Novo Cadastro</h1>
    <form action="/aluno" method="post">
        <div>
            <label for="disciplina">Disciplina:</label>
            <input type="text" name="disciplina" id="disciplina" placeholder="digite o nome da disciplina">
        </div>
        <div>
            <label for="nota1">Nota1:</label>
            <input type="number" name="nota1" id="nota1" placeholder="digite a 1° nota">
        </div>
        <div>
            <label for="nota2">Nota2:</label>
            <input type="number" name="nota2" id="nota2" placeholder="digite a 2° nota">
        </div>
        <input type="submit" value="Cadastrar">
    </form>
</body>
</html>