<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SuaPI</title>
</head>
<body>
    <h1>SuaPI interessant</h1>
    <nav>
        <a href="/aluno">Aluno</a>
        <a href="/professor">Professor</a>
    </nav>
</body>
</html>
