<% titulo = 'Operações'%>

<table border="1px solid black">
    <tr>
        <td>Data</td>
        <td>Codigo</td>
        <td>Ação</td>
        <td>Preco Bruto</td>
        <td>Quantidade</td>
        <td>Preco Unitario</td>
        <td>Preco Liquido</td>
    </tr>
    <% for (let i = 0; i < listaOperacoes.length; i++) { %>
        <tr>
            <% for (let j = 0; j < listaOperacoes[i].length; j++) { %>
                <td><%= listaOperacoes[i][j] %></td>
            <% } %>
        </tr>
    <% } %>
</table>

<a href="/novaOperacao">Nova Operação</a>