@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

.variaveis{
    --back: #000000;
    --white: #FFFFFF;
    --gray: #808080;
    --red: #FF0000;
    --blue: #0000FF;
    --green: #008000;
    --yellow: #FFFF00;
    --orage: #FFA500;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

body{
    line-height: 1.5;
    background-color: #008B8C;
    color: #ffffff;
}

.cabeçalho{
    display: flex;
    font-family: "Roboto Slab", serif;
    background-color: #292C35;
    height: 15vh;
}

.cabeçalho li a{
    margin: 50px;
    position: relative;
    left: 400%;
    top: 30%;
    color: #ffffff;
    font-size: 140%;
}

.navegação{
    text-align: center;
    position: relative;
    margin:3%;
    left: 31%;
    font-size: 200%;
    border: 5px solid #4040fb;
    width: 30%;
    height: 350px;
    padding: 50px;
    border-radius: 15px;
    background-color: #ffffff;
}

.navegação li a{
    position: relative;
    top: -4vh;
    color: #000000;
}

.about h2{
    text-align: center;
    font-family: "Roboto Slab", serif;
    background-color: #4040fb;
    border: 1px solid #4040fb;
    width: 20%;
    position: relative;
    left: 70%;
}

.about p{
    color: #000000;
    text-align: center;
    align-content: center;
    border: 1px solid #B0E0EC;
    background-color: #B0E0EC;
    width: 60%;
    height: 250px;
    position: relative;
    left: 35%;
}

h3{
    text-align: center;
    background-color: #4B0082;
    position: relative;
    left: 100px;
    width: 250px;
    top: 25px;
}

.porjects p{
    background-color: #00008B;
    width: 50%;
    position: relative;
    bottom: 20px;
    left: 40%;
    text-align: center;
}

.project-1 img{
    position: relative;
    left: 37%;
    width: 60%;
}

.project-2 img{
    position: relative;
    left: 10%;
    width: 60%;
}

.lista{
    font-size: 20px;
    position: absolute;
    width: 25%;
    top: 280%;
    left: 73%;
}

.project-3 img{
    position: relative;
    left: 25%;
    width: 60%;
}

.project-4 img{
    position: relative;
    left: 28%;
    width: 60%;
}

.project-5 img{
    position: relative;
    left: 20%;
    width: 60%;
}

.project-6 img{
    position: relative;
    left: 15%;
    width: 60%;
}

.footer{
    font-family: "Roboto Slab", serif;
    font-style: normal;
    background-color: black;
    color: aliceblue;
    padding: 15px;
    height: 230px;
    
}

.footer-col{
    position: relative;
    left: 10%;
    width: 25%;
    padding: 15px;
    text-align: center;
}

.footer-col h4{
    font-size: 18px;
    color: #ffffff;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}

.footer-col h4::before{
    content: '';
    position: absolute;
    bottom: -10px;
    background-color: red;
    height: 2px;
    width: 50px;
}

.footer-col ul li a{
    font-size: normal;
    font-family: sans-serif;
    font-size: 16px;
    color: #ffffff;
    text-decoration: none;
    color: #bbbbbb;
}

.footer-col ul li a:hover{
    color: #ffffff;
    padding-left: 8px;
}

.copy{
    position: relative;
    left: 7%;
    top: 25vh;
    height: 0;
}

.row{
    display: flex;
}

button{
    position: relative;
    left: 92%;
    top: -250px;
    width: 70px;
    height: 70px;
    border: 1px solid black;
    border-radius: 200%;
    background-color: #000000;
}

button a{
    color: #ffffff;
}